#id name location
0 Luna_Haruna_Overfly http://lei-k.ddns.net/hls/Luna_Haruna_Overfly/Luna_Haruna_Overfly.m3u8
1 Luna_Haruna file:/home/k/Videos/Luna_Haruna.mp4
2 Alleignt3 http://lei-k.ddns.net/hls/allegiant3_1080p/Allegiant3.m3u8
